reports/
allure-results*/
screenshots/
logs/
*.log
test-results/
__pycache__/
.cache/
.pyc
# Драйверы браузеров
chromedriver*
geckodriver*

# Конфиденциальные данные
*.env
config.local.py

# Отчеты
report*.html".idea/"
".idea/" 
